 @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

 * {
     padding: 0;
     margin: 0;
     line-height: 1.6;
     font-family: 'Fredoka', sans-serif;

 }

 body {
    

     display: flex;
     justify-content: center;
     align-items: center;
 }

 .left-div {
     background-image: linear-gradient(to bottom right, #4000e3, #3200b1);
     height: inherit;
     display: flex;
     flex-flow: column wrap;
     justify-content: center;
     gap: 15vh;
     align-items: flex-start;
     color: white;
     padding: 10vw;
     flex: 1;
     overflow: visible;
     
 }

 .feature {
     display: flex;
     gap: 1.5vw;
 }

 .feature i {
     padding: 3vh;
     text-align: center;
     font-size: 36px;
     border-radius: 6px;
     background-color: #3f30e1;
 }


 /* ----------Right div------- */

 .right-div {
     height: inherit;
     display: flex;
     flex-flow: column;
     gap: 2vh;
     justify-content: center;
     align-items: flex-start;
     flex: 2;
     padding: 5vw;
 }

 .headings {
     font-size: 35px;
 }

 .headings :last-child {
     padding-bottom: 20px;
     color: #3f18c7;
 }

 .headings h3 span {
     border-bottom: 8px solid #e3e5ea;
 }
 form{
    display: flex;
    flex-direction: column;
    gap:2vh;
 }
 form label{
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0px 0px black;
 }
 form input{
    padding: 1vh 1vw;
    border-radius: 6px;
    outline: none;
    border-style: none;
    background-color: #f5f5f5;
 }
 form input:focus{
    background-color: white;
    border: 2px solid #ccd9f3;
 }

 /* .role{
    display: flex;
 }
 .daily{
    display: flex;
 } */

 .com{
    display: flex;
    justify-content: space-between;
    flex:1;
    gap: 20px;
 }
 .field{
    display: flex;
    flex-direction: column;
    flex:1;
 }
 .terms{
    display: flex;
    gap:2vw;
    justify-content: center;
    align-items: baseline;
 }
 .terms .check a{
    text-decoration: none;
 }
 .terms input[type='checkbox']{
    height: 25px;
    width: 25px;
    margin-top:20px;
    padding: 2vw;
 }

 .terms input[type="submit"]{
    background-color: #4700ee;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 2vh 5vw;
 }
    

@media screen  and (max-width:430px){
    body{
        height: unset;
        flex-direction: column;
    }
    .left-div{
        padding: unset;
        padding: 5vh 0;
        gap:15px;
        justify-content: flex-start;
    }
    .right-div .com{
        flex-direction: column;
    }
    .terms{
        flex-wrap: wrap;
    }
    .terms .check{
        flex-wrap: nowrap;
    }
    .terms input[type="submit"]{
        background-color: #4700ee;
        color: white;
        font-size: 18px;
        cursor: pointer;
        width: 80vw;
        padding: 2vh 5vw;
     }
}
